.Addpost{
    width: 95%;
    border-radius:10px;
    background-color: red;
    height: 180%;

}
.addpostcontetn{

}
.addpostpic{
    width:32px ;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}