.Addpost{
    width: 95%;
    border-radius:10px;
  
    height: 180%;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.52); 
box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.52);

}
.addpostcontetn{
    padding: 15px;

}
.addpostpic{
    width:32px ;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.addpostbuttom{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addposttoop{
    display: flex;
    align-items: center;
}
.addpostinput{
    border: none;
    width: 80%;
    margin-left: 10px;
}
.addpostinput:focus{
    outline: none;
}
.posthr{
    margin: 20px;
}
.addphotooptions{
    display: flex;
    margin-left: 40px;
}
.addphotooption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}
.addpoto{
    margin-right: 10px;
}
.postbutton{
    border: none;
    padding: 7px;
border-radius: 5px;
background-color: blue;
flood-color: white;
cursor: pointer;
}